# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f1f2572d010168e61cc6b901cadc66cc1ba2df5fb11f1aa16e60c96cff6dbbe2248ceacf81ea96e9015ca0ab2d219e616c3471260c97e302af75b12fcaf6ccd3

test:
  secret_key_base: 5f23907a09acc8c65c6a4f05da1fdbc394320545717323b910d308e685b814f2789c9df0227492bbca8420221939ad04fedb6ec1a8c15af8e6e475bdf5f19ea5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
