<!doctype html>
<html>
  <body>
    <p>Refund!</p>
    <p>To: <%= @sale.email %></p>
    <p>Guid: <%= @sale.guid %></p>
    <p>Product: <%= @product.name %></p>
    <p>Amount: <%= formatted_price(@sale.amount) %></p>
  </body>
</html>
