<h1>Hi there!</h1>
<p>This is a fake home page. Maybe you'd like to:</p>
<ul>
  <li><%= link_to "Buy Something", "/buy" %></li>
  <li><%= link_to "Subscribe to Something", "/subscribe" %></li>
</ul>

