<p>Thank you for buying <%= @product.name %></p>
<p>Your transaction ID is: <b><%= @sale.guid %></p>
<p><%= link_to "Click here to pick up your product", payola.confirm_url(guid: @sale.guid) %></p>
<% if Payola.pdf_receipt %>
<p>Attached you'll find a PDF receipt for your records.</p>
<% end %>
