<!DOCTYPE html>
<html>
<head>
  <title>Payola</title>
  <%= stylesheet_link_tag    "payola/application", media: "all" %>
  <%= javascript_include_tag "payola/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
