<%= render 'payola/subscriptions/checkout', plan: @plan, button_class: 'not-a-class' %>

<hr>

<%= form_for @plan, url: '/', method: :post, html: { class: 'payola-subscription-form', 'data-payola-base-path' => '/subdir/payola', 'data-payola-plan-type' => @plan.plan_class, 'data-payola-plan-id' => @plan.id } do |f| %>
  <span class="payola-payment-error"></span>
  Email:<br>
  <input type="email" name="stripeEmail" data-payola="email"></input><br>
  Card Number<br>
  <input type="text" data-stripe="number"></input><br>
  Exp Month<br>
  <input type="text" data-stripe="exp_month"></input><br>
  Exp Year<br>
  <input type="text" data-stripe="exp_year"></input><br>
  CVC<br>
  <input type="text" data-stripe="cvc"></input><br>
  Coupon Code<br>
  <input type="text" name="coupon" data-payola="coupon"></input><br>
  Quantity<br>
  <input type="text" name="quantity" data-payola="quantity"></input><br>
  <input type="submit"></input>
<% end %>

